body{
  background-image: url("../images/costa-dorada.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  color: white;
  font-size: 20px;
}

.lugares{
  padding: 2%;
}

.lugar{
  padding-bottom: 4%;
}

a{
  font-weight: bold;
  background-color: rgb(122, 177, 96)!important;
  border-radius: 1.5rem!important;
  padding: .75rem .75rem!important;
  color: white;
  width: 10rem;
  text-decoration: none;
  margin: 6%;
}


.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}

.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}